img {
    max-width: 100%;
}

.postdate {
    color: #ccc;
}

.next a, .prev a {
    line-height: 36px;
    height: 43px;
    display: block;
    text-wrap: none;
}

.next {
    text-align: right;
}

.next .glyphicon{
    zoom: 2;
    color: #eee;
    float:right;
}

.prev .glyphicon {
    zoom: 2;
    color: #eee;
    float:left;
}

.next:hover .glyphicon, .prev:hover .glyphicon {
    color: #ccc;
}

header {
    background-size: cover;
    margin-bottom: 1em;
}

@media(max-width:767px){

    header {
        height: 150px;
    }

}
@media(min-width:768px){

    header {
        height: 200px;
    }

}
@media(min-width:992px){

    header {
        height: 300px;
    }

}
@media(min-width:1200px){

    header {
        height: 400px;
    }

}